.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
# Exclude src but keep dist
src/**
# Exclude most of node_modules but keep runtime dependencies
node_modules/**
!node_modules/nearley/**
!node_modules/moo/**
# Exclude dev/build files
docs/**
examples/**
